.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  & .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.img-container {
  display: inline-flex;
  align-items: center;
}

#logo-typographic {
  width: 40vw;
  animation: textaparition 1s ease-in 2s 1 normal forwards;
  opacity: 0;
}

#logo-loupe {
  width: 10vw;
  margin-top: 18px;
  animation: loupeSlide 2s ease 0s 1 normal forwards;
}

@keyframes loupeSlide {
  0% {
    transform: translateX(40em);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes textaparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
