main {
  height: calc(94svh);
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 64px;
  margin: 0;
}

.job-description,
.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

li {
  list-style: none;
  width: 100%;
}

.job-description {
  margin: 64px 0px 64px 64px;
  background-color: var(--accent-color2);
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  & p {
    color: var(--dark-color);
  }
  & h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-color);
    text-align: center;
  }
}

.cv-container {
  padding-top: 64px;
  padding-right: 64px;
  gap: 64px;
}

.cv {
  position: relative;
  background-color: var(--dark-color);
  padding: 32px 32px 48px 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  & h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: var(--light-color);
  }

  & .button-section {
    width: 92%;
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: space-between;
  }
}

.button-next {
  margin-bottom: 45vh;
}
