main {
  height: calc(90svh);
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 64px;
  padding: 64px;
  margin:0;
}


.job-description,
.cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

li {
  list-style: none;
  width: 100%;
}

.job-description {
  background-color: var(--accent-color2);
  padding: 32px;
  border-radius: 16px;
  & p {
    color: var(--dark-color);
  }
  & h1 {
    color: var(--dark-color);
  }
}

.cv-container {
  gap: 32px;
}

.cv {
  background-color: var(--light-color);
  padding: 32px;
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  gap:32px;
  & .button-section {
    display: flex;
    justify-content: space-between;
  }
}
