<section class="analysis-container">
  <div class="analysis-score-group">
    <article class="analysis-globalscore-container">
      <h2 class="globalscore-title">Score global</h2>
      @if (data.analysis().globalScore < 0 ) {
      <h3 id="globalscore">0%</h3>
      }@else {
      <h3 id="globalscore">{{ data.analysis().globalScore }}%</h3>
      }
      <p id="globalscore-context">
        Voici votre score global. <br />Il évalue votre propension a vous
        focaliser sur les bais de recrutement tel que l'age, le genre, l'origine
        et l'handicap
      </p>
    </article>
    <article class="analysis-biaisscore-container">
      <h2>Details de score par biais de recrutement</h2>
      <h3>
        Votre score de biais augmente, pour chaque CV rejeté malgré des
        compétences valides
      </h3>
      <div class="analysis-biaisscore-indicator">
        <hgroup class="score-container">
          <div class="score-jauge-container">
            @if (data.analysis().ageScore == 1) {
            <div
              class="age-score-jauge"
              [style]="{ transform: 'translateY(' + 75 + '%)' }"
            ></div>
            } @else if (data.analysis().ageScore == 2) {
            <div
              class="age-score-jauge"
              [style]="{ transform: 'translateY(' + 50 + '%)' }"
            ></div>
            } @else if (data.analysis().ageScore == 3) {
            <div
              class="age-score-jauge"
              [style]="{ transform: 'translateY(' + 25 + '%)' }"
            ></div>
            } @else if (data.analysis().ageScore == 4) {
            <div
              class="age-score-jauge"
              [style]="{ transform: 'translateY(' + 0 + '%)' }"
            ></div>
            } @else {
            <div
              class="age-score-jauge"
              [style]="{ transform: 'translateY(' + 100 + '%)' }"
            ></div>
            }
          </div>

          <h2>Age</h2>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            @if (data.analysis().genderScore == 1) {
            <div
              class="gender-score-jauge"
              [style]="{ transform: 'translateY(' + 75 + '%)' }"
            ></div>
            } @else if (data.analysis().genderScore == 2) {
            <div
              class="gender-score-jauge"
              [style]="{ transform: 'translateY(' + 50 + '%)' }"
            ></div>
            } @else if (data.analysis().genderScore == 3) {
            <div
              class="gender-score-jauge"
              [style]="{ transform: 'translateY(' + 25 + '%)' }"
            ></div>
            } @else if (data.analysis().genderScore == 4) {
            <div
              class="gender-score-jauge"
              [style]="{ transform: 'translateY(' + 0 + '%)' }"
            ></div>
            } @else {
            <div
              class="gender-score-jauge"
              [style]="{ transform: 'translateY(' + 100 + '%)' }"
            ></div>
            }
          </div>

          <h2>Genre</h2>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            @if (data.analysis().handicapScore == 1) {
            <div
              class="handicap-score-jauge"
              [style]="{ transform: 'translateY(' + 75 + '%)' }"
            ></div>
            } @else if (data.analysis().handicapScore == 2) {
            <div
              class="handicap-score-jauge"
              [style]="{ transform: 'translateY(' + 50 + '%)' }"
            ></div>
            } @else if (data.analysis().handicapScore == 3) {
            <div
              class="handicap-score-jauge"
              [style]="{ transform: 'translateY(' + 25 + '%)' }"
            ></div>
            } @else if (data.analysis().handicapScore == 4) {
            <div
              class="handicap-score-jauge"
              [style]="{ transform: 'translateY(' + 0 + '%)' }"
            ></div>
            } @else {
            <div
              class="handicap-score-jauge"
              [style]="{ transform: 'translateY(' + 100 + '%)' }"
            ></div>
            }
          </div>
          <h2>Handicap</h2>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            @if (data.analysis().ethnicScore == 1) {
            <div
              class="ethnic-score-jauge"
              [style]="{ transform: 'translateY(' + 75 + '%)' }"
            ></div>
            } @else if (data.analysis().ethnicScore == 2) {
            <div
              class="ethnic-score-jauge"
              [style]="{ transform: 'translateY(' + 50 + '%)' }"
            ></div>
            } @else if (data.analysis().ethnicScore == 3) {
            <div
              class="ethnic-score-jauge"
              [style]="{ transform: 'translateY(' + 25 + '%)' }"
            ></div>
            } @else if (data.analysis().ethnicScore == 4) {
            <div
              class="ethnic-score-jauge"
              [style]="{ transform: 'translateY(' + 0 + '%)' }"
            ></div>
            } @else {
            <div
              class="ethnic-score-jauge"
              [style]="{ transform: 'translateY(' + 100 + '%)' }"
            ></div>
            }
          </div>

          <h2>Origine</h2>
        </hgroup>
      </div>
    </article>
  </div>
  <div class="evaluation-link-group">
    <h3 id="next-link-title">Vous voulez renforcer vos compétences ?</h3>
    <a
      routerLink="equitalent/good-practises"
      class="button-accent3 button-accent"
    >
      En savoir +
    </a>
  </div>
  <img class="mains-roses-gauche" src="/main-gauche.svg" alt="" />
  <img class="mains-roses-droite" src="/main-droite.svg" alt="" />

  <img alt="" class="background-wave" src="/clearGreenWave.svg" />
</section>
