<section class="analysis-container">
  <div class="analysis-score-group">
    <article class="analysis-globalscore-container">
      <h2 class="globalscore-title">Score global</h2>
      <h3 id="globalscore">{{ data.analysis().globalScore }}%</h3>
      <p>
        Voici votre score global. <br/>Il évalue votre propension a vous focaliser
        sur les bais de recrutement tel que l'age, le genre, l'origine et
        l'handicap
      </p>
    </article>
    <article class="analysis-biaisscore-container">
      <h2>Details de score par biais de recrutement</h2>
      <h3>
        Votre score de biais augmente, pour chaque CV rejeté malgré des
        compétences valides
      </h3>
      <div class="analysis-biaisscore-indicator">

        <hgroup class="score-container">
          <div class="score-jauge-container" >
            <div class="age-score-jauge"></div>
          </div>
          <h2>{{ data.analysis().ageScore }}</h2>
          <h3>Age</h3>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            <div class="gender-score-jauge"></div>
            </div>
          <h2>{{ data.analysis().genderScore }}</h2>
          <h3>Genre</h3>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            <div class="gender-score-jauge"></div>
          </div>
          <h2>{{ data.analysis().handicapScore }}</h2>
          <h3>Handicap</h3>
        </hgroup>

        <hgroup class="score-container">
          <div class="score-jauge-container">
            <div class="ethnic-score-jauge"></div>
          </div>
          <h2>{{ data.analysis().ethnicScore }}</h2>
          <h3>Origine</h3>
        </hgroup>

      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. 
      </p>
    </article>
  </div>

  <h3>Vous voulez renforcer vos compétences ?</h3>
  <a class="button-accent3 button-accent">En savoir +</a>
  <img class="mains-roses-gauche" src="/main-gauche.svg" alt="" />
  <img class="mains-roses-droite" src="/main-droite.svg" alt="" />

  <img alt="" class="background-wave" src="/clearGreenWave.svg" />
</section>
