.navbar {
  display: flex;
  align-items: center;
  gap: 5em;
  background-color: var(--dark-color);
  color: var(--light-color);
  height : 3em;

  & figure>img {
    height: 30px;
    margin-left:16px;
    transform: translateY(4px);
  }
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 400px;

  & a {
    color: var(--light-color);
    user-select: none;
  }

  & a:hover,
  a.active {
    color: var(--accent-color2);
  }
}
