<main class="good-practices">
  <img alt="" class="background-wave" src="/clearGreenWave.svg" />
  <h1>5 conseils pour rendre votre recrutement inclusif</h1>

  <section class="green-card card">
    <h2>1 - Rédigez une offre d’emploi inclusive</h2>
    <p>
      Le recrutement inclusif commence dès la rédaction de l’annonce. Même si
      elle ne fait pas précisément mention aux 25 critères discriminants punis
      par la loi, votre offre peut exclure indirectement certains viviers de
      talents et ce pour plusieurs raisons :
    </p>
    <ul>
      <li>
        Les descriptions du candidat attendu laissent certaines populations de
        côté. « Jeune et dynamique » (comme si l’âge et le dynamisme étaient
        forcément liés), « diplômé d’une grande école » (alors que les parcours
        universitaires sont tout aussi qualifiants) ou encore le fait d’indiquer
        « une vendeuse » ou « un mécanicien » … Toutes ces tournures vont à
        l’encontre d’une écriture inclusive.
      </li>
      <li>
        Les recruteurs ont tendance à indiquer le plus de compétences ou
        qualités possibles, au lieu de se concentrer sur celles réellement
        requises pour réussir dans le poste. Certaines compétences superflues
        mais néanmoins présentes sur l’offre peuvent donc pousser des candidats
        qualifiés à ne pas postuler.
      </li>
      <li>
        La longueur ou le vocabulaire employé peuvent aussi décourager certains
        candidats.
      </li>
    </ul>
  </section>
  <div class="horizontal-wrapper">
    <div class="vertical-wrapper">
      <section class="lightblue-card card">
        <h2>2 -Assurez une égalité de traitement de tous les candidats</h2>
        <p>
          On l’a vu, l’égalité de traitement de tous les candidats passe
          notamment par une grille d’évaluation commune, qui évite de prendre en
          considération des faiblesses du candidat qui n’en seront pas sur le
          poste. L’égalité de traitement doit aussi se concrétiser lors de
          l’entretien d’embauche.
        </p>
        <p>
          Créer et suivre un guide d’entretien qui reprend les questions qui
          seront posées au candidat est une bonne pratique nécessaire pour un
          recrutement inclusif. En plus d’une égalité de traitement, cet outil
          vous permettra de plus facilement de comparer leurs réponses.
        </p>
      </section>

      <section class="blue-card card">
        <h2>
          4 -Diversifiez votre sourcing pour vous ouvrir à tous les candidats
        </h2>
        <p>
          Votre offre d’annonce est bien inclusive ? Il vous faut maintenant
          ouvrir votre sourcing à tous.  En utilisant toujours les mêmes
          méthodes de sourcing, vous puisez dans le même vivier de talents et
          favorisez le syndrome de clonage.
        </p>
        <p>
          Pour ouvrir vos offres aux candidats de tous horizons, rien de mieux
          que de s’appuyer sur le réseau associatif et institutionnel
          territorial : les associations favorisant la diversité, les écoles et
          universités présentes dans les quartiers prioritaires de la ville, les
          missions locales, les associations de quartiers… sont autant de
          partenaires que vous devez connaître et mobiliser pour diffuser vos
          offres.
        </p>
        <p>
          Ce maillage peut être long à construire. N’hésitez pas à vous reposer
          sur des acteurs tels que Mozaïk RH qui ont fait de ce rôle
          d’intermédiaire leur mission.
        </p>
      </section>
    </div>

    <div class="vertical-wrapper">
      <section class="blue-card card">
        <h2>3 -Evaluez les seules compétences requises</h2>
        <p>
          De même qu’on a tendance à demander plus de compétences que nécessaire
          au moment de la rédaction de l’offre d’emploi, on a aussi tendance à
          regarder des points du CV ou à évaluer lors de l’entretien des
          compétences ou traits de caractères qui sont sans rapport avec le
          poste pour lequel on recrute.
        </p>
        <p>
          Pour remédier à ce penchant naturel, construire en amont une grille
          d’évaluation des compétences clés, commune à tous les candidats, évite
          de se disperser sur des compétences non pertinentes par rapport au
          poste, et permet dans le même temps de traiter les candidats sur la
          base d’un même référentiel.
        </p>
      </section>

      <section class="lightblue-card card">
        <h2>5 -Formez vos équipes à la non-discrimination</h2>
        <p>
          Qu’elles soient directement ou non actrices de votre processus de
          recrutement, formez vos équipes à la non-discrimination est clé pour
          renforcer l’inclusion et la diversité dans votre entreprise.
        </p>
        <p>
          Cela participe à une culture d’entreprise propice à l’épanouissement
          de tous en plus de faciliter l’intégration des nouveaux
          collaborateurs.
        </p>
      </section>
    </div>
  </div>
  <img class="mains-roses-gauche" src="/main-gauche.svg" alt="" />
  <img class="mains-roses-droite" src="/main-droite.svg" alt="" />
</main>
