.good-practices {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 0px 64px 64px 64px;

  & h1 {
    text-align: center;
    margin: 96px 0px 32px 0px;
  }

  & .card {
    background-color: fuchsia;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    & li {
      margin-left: 32px;
    }
  }

  & .green-card {
    background-color: var(--accent-color2);
    color: var(--dark-color);
  }

  & .blue-card {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  & .lightblue-card {
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  & .vertical-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  & .horizontal-wrapper {
    display: flex;
    gap: 64px;
  }
}

.mains-roses-gauche {
  position: absolute;
  top: 15px;
  left: 8%;
  width: 18em;
  z-index: -1;
  animation: slidinLeft 1s ease 0s 1 forwards;
}

.mains-roses-droite {
  position: absolute;
  top: 6px;
  left: 74%;
  width: 14em;
  z-index: -1;
  rotate: 18deg;
  animation: slidinRight 1s ease 0s 1 forwards;
}

@keyframes slidinLeft {
  0% {
    transform: translate(-10em , -8em) rotate(20deg);
  }
  100% {
    transform: translateY(0em, 0em) rotate(10deg);
  }
}

@keyframes slidinRight {
  0% {
    transform: translate(10em , -8em) rotate(20deg);
  }
  100% {
    transform: translateY(0em, 0em) rotate(10deg);
  }
}


